extends ../layout/main

block title
	| Shopy

block content
	include ../sections/slider.pug
	include ../sections/arrivals.pug
	include ../sections/call.pug
	include ../sections/review.pug
	include ../sections/partner.pug
	
