extends ../layout/main

block title
	| Shopy

block content
	include ../sections/slider.pug
	include ../sections/arrivals.pug
	include ../sections/bunner.pug
	include ../sections/bestSales.pug
	include ../sections/subscribe.pug
	
