include ../modules/mixin.pug
section.arrivals
    .container
        .section-title
            .section-title__big
                span.section-title__orange New
                span Arrivals
            span.section-title__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry
        .arrivals-content
            +productItem('Product1', 'Reebok Track Jacket','100$','none')
            +productItem('Product2', 'Reebok Track Jacket','100$','none')
            +productItem('Product3', 'Reebok Track Jacket','100$','none')
            +productItem('Product1', 'Reebok Track Jacket','100$','none')
            +productItem('Product2', 'Reebok Track Jacket','100$','none')
            +productItem('Product3', 'Reebok Track Jacket','100$','none')
            +productItem('Product1', 'Reebok Track Jacket','100$','none')
            +productItem('Product2', 'Reebok Track Jacket','100$','none')
            +productItem('Product3', 'Reebok Track Jacket','100$','none')
            +productItem('Product1', 'Reebok Track Jacket','100$','none')
            +productItem('Product2', 'Reebok Track Jacket','100$','none')
            +productItem('Product3', 'Reebok Track Jacket','100$','none')
        a(href="#")#loadMore.product-item__more-load ...
