section.arrivals
    .container
        .section-title
            .section-title__big
                span.section-title__orange New
                span Arrivals
            span.section-title__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry
        .arrivals-content
            .product-item
                img(src="img/arrivals/Product1.png", alt="product")
                span.product-item__title Reebok Track Jacket
                span.product-item__price 100$
            .product-item
                img(src="img/arrivals/Product2.png", alt="product")
                span.product-item__title Reebok Track Jacket
                span.product-item__price 100$
            .product-item
                img(src="img/arrivals/Product3.png", alt="product")
                span.product-item__title Reebok Track Jacket
                span.product-item__price 100$
            .product-item
                img(src="img/arrivals/Product3.png", alt="product")
                span.product-item__title Reebok Track Jacket
                span.product-item__price 100$