section.best-sales
    .container.clearfix
        .section-title
            .section-title__big
                span.section-title__orange Best
                span Sales
            span.section-title__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry
        .best-sales__item-wrap
            .best-sales__item
                img(src="img/Sales-product-img.png", alt="coat").best-sales__img
                .best-sales__info.clearfix
                    span.best-sales__title Reebok Track Jacket
                    .best-sales__rating
                        .rating-wrap
                            .rating-color
                            .rating-stars
                    span.best-sales__price 100$
                    a(href="#").best-sales__buy add to cart
            .best-sales__item
                img(src="img/Sales-product-img.png", alt="coat").best-sales__img
                .best-sales__info.clearfix
                    span.best-sales__title Reebok Track Jacket
                    .best-sales__rating
                        .rating-wrap
                            .rating-color
                            .rating-stars
                    span.best-sales__price 100$
                    a(href="#").best-sales__buy add to cart
            .best-sales__item
                img(src="img/Sales-product-img.png", alt="coat").best-sales__img
                .best-sales__info.clearfix
                    span.best-sales__title Reebok Track Jacket
                    .best-sales__rating
                        .rating-wrap
                            .rating-color
                            .rating-stars
                    span.best-sales__price 100$
                    a(href="#").best-sales__buy add to cart