section.banner
    .container.clearfix
        .banner-big
            img(src="img/banner-big.png", alt="sale")
            .banner-big__text
                span.banner-big__title Full winter kit
                span.banner-big__descr Half Jacket + Skiny Trousers + Boot leather
            a(href="#").banner-big__price 120$
        .banner-small
            .banner-empty__wrap
                span.banner-empty__text adv
                span.banner-empty__text.banner-empty__text--orange area
                span.banner-size 470 x 100