include ../modules/mixin.pug
section.related-products
    .container
        .section-title
            .section-title__big
                span.section-title__orange Related
                span Products
            span.section-title__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry
        .arrivals-content
            +productItem('Product1', 'Reebok Track Jacket','100$')
            +productItem('Product2', 'Reebok Track Jacket','100$')
            +productItem('Product3', 'Reebok Track Jacket','100$')
            +productItem('Product1', 'Reebok Track Jacket','100$')
        a(href="#").product-item__more-load ...