section.index-slider
    .container
        .js-index-slider_pager
            a(href="" data-slide-index="0")
            a(href="" data-slide-index="1")
            a(href="" data-slide-index="2")
    ul.js-index-slider
        li
            img(src="img/slider-img.jpg", alt="woman").img-responsive
            .index-slider__info
                span.index-slider__title FULL WINTER KIT
                span.index-slider__goods Half Jacket + Skiny Trousers + Boot leather
                span.index-slider__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .index-slider__actions
                    span.index-slider__price Price: $120
                    span.index-slider__buy Order Now
        li
            img(src="img/slider-img.jpg", alt="woman")
            .index-slider__info
                span.index-slider__title FULL SUMMER KIT
                span.index-slider__goods Half Jacket + Skiny Trousers + Boot leather
                span.index-slider__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .index-slider__actions
                    span.index-slider__price Price: $100
                    span.index-slider__buy Order Now
        li
            img(src="img/slider-img.jpg", alt="woman")
            .index-slider__info
                span.index-slider__title FULL SPRING KIT
                span.index-slider__goods Half Jacket + Skiny Trousers + Boot leather
                span.index-slider__descr Lorem Ipsum is simply dummy text of the printing and typesetting industry
                .index-slider__actions
                    span.index-slider__price Price: $220
                    span.index-slider__buy Order Now
