section.subscribe
    .container
        .subscribe-content
            .subscribe-info
                span.subscribe__title News Letter
                span.subscribe__descr join us now to get all news and special offers
            form.subscribe__form
                .input-field__wrap
                    input(type="text", name="mail" placeholder="Type your email here").input-field
                    span.focus-bg
                    input(type="submit", value="join-us").g-btn