footer
    .container
        .footer-logo
            img(src="img/logo.png", alt="logo").footer-logo__img
            span.footer-copyright shopy c 2015 . your copy right here
        nav.footer-nav
            ul.footer-nav__list
                li: a(href="#") about us
                li: a(href="#") contact us
                li: a(href="#") support
            ul.footer-nav__list
                li: a(href="#") our feed
                li: a(href="#") terms and conditions
                li: a(href="#") our privacy
            ul.footer-nav__list
                li: a(href="#") join us
                li: a(href="#") live support
        .footer-pay
            span Payment Methods
            img(src="img/paymentImg.png", alt="pay")