// @import "../libs/bootstrap-grid/bootstrap-grid"
@import "../libs/bxslider-4/dist/jquery.bxslider.min"
.index-slider,
.product-item__second,
.product-gallery
  .bx-wrapper
    margin-bottom: 0
    left:          0
    box-shadow:    none
    background:    none
    border:        none
.product-item__second
  .bx-wrapper
    margin-bottom: 40px
    padding-top:   40px
.product-gallery
  .bx-wrapper
    margin-bottom: 40px
.bx-wrapper .bx-loading
  background:      url('../img/bx_loader.gif') center center no-repeat #ffffff
