// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$-add-to-cart-name: 'AddToCart'
$-add-to-cart-x: 0px
$-add-to-cart-y: 0px
$-add-to-cart-offset-x: 0px
$-add-to-cart-offset-y: 0px
$-add-to-cart-width: 22px
$-add-to-cart-height: 21px
$-add-to-cart-total-width: 125px
$-add-to-cart-total-height: 111px
$-add-to-cart-image: '../img/sprite/sprite.png'
$-add-to-cart: (0px, 0px, 0px, 0px, 22px, 21px, 125px, 111px, '../img/sprite/sprite.png', 'AddToCart', )
$-cart-orange-name: 'Cart-orange'
$-cart-orange-x: 72px
$-cart-orange-y: 0px
$-cart-orange-offset-x: -72px
$-cart-orange-offset-y: 0px
$-cart-orange-width: 24px
$-cart-orange-height: 17px
$-cart-orange-total-width: 125px
$-cart-orange-total-height: 111px
$-cart-orange-image: '../img/sprite/sprite.png'
$-cart-orange: (72px, 0px, -72px, 0px, 24px, 17px, 125px, 111px, '../img/sprite/sprite.png', 'Cart-orange', )
$-cartpng-name: 'Cartpng'
$-cartpng-x: 0px
$-cartpng-y: 36px
$-cartpng-offset-x: 0px
$-cartpng-offset-y: -36px
$-cartpng-width: 24px
$-cartpng-height: 17px
$-cartpng-total-width: 125px
$-cartpng-total-height: 111px
$-cartpng-image: '../img/sprite/sprite.png'
$-cartpng: (0px, 36px, 0px, -36px, 24px, 17px, 125px, 111px, '../img/sprite/sprite.png', 'Cartpng', )
$-like-name: 'Like'
$-like-x: 34px
$-like-y: 68px
$-like-offset-x: -34px
$-like-offset-y: -68px
$-like-width: 19px
$-like-height: 16px
$-like-total-width: 125px
$-like-total-height: 111px
$-like-image: '../img/sprite/sprite.png'
$-like: (34px, 68px, -34px, -68px, 19px, 16px, 125px, 111px, '../img/sprite/sprite.png', 'Like', )
$-share-name: 'Share'
$-share-x: 0px
$-share-y: 68px
$-share-offset-x: 0px
$-share-offset-y: -68px
$-share-width: 19px
$-share-height: 17px
$-share-total-width: 125px
$-share-total-height: 111px
$-share-image: '../img/sprite/sprite.png'
$-share: (0px, 68px, 0px, -68px, 19px, 17px, 125px, 111px, '../img/sprite/sprite.png', 'Share', )
$-user-name: 'User'
$-user-x: 37px
$-user-y: 0px
$-user-offset-x: -37px
$-user-offset-y: 0px
$-user-width: 20px
$-user-height: 21px
$-user-total-width: 125px
$-user-total-height: 111px
$-user-image: '../img/sprite/sprite.png'
$-user: (37px, 0px, -37px, 0px, 20px, 21px, 125px, 111px, '../img/sprite/sprite.png', 'User', )
$facebook-name: 'facebook'
$facebook-x: 0px
$facebook-y: 100px
$facebook-offset-x: 0px
$facebook-offset-y: -100px
$facebook-width: 6px
$facebook-height: 11px
$facebook-total-width: 125px
$facebook-total-height: 111px
$facebook-image: '../img/sprite/sprite.png'
$facebook: (0px, 100px, 0px, -100px, 6px, 11px, 125px, 111px, '../img/sprite/sprite.png', 'facebook', )
$google-name: 'google +'
$google-x: 68px
$google-y: 68px
$google-offset-x: -68px
$google-offset-y: -68px
$google-width: 14px
$google-height: 11px
$google-total-width: 125px
$google-total-height: 111px
$google-image: '../img/sprite/sprite.png'
$google-: (68px, 68px, -68px, -68px, 14px, 11px, 125px, 111px, '../img/sprite/sprite.png', 'google +', )
$header-phone-name: 'header-phone'
$header-phone-x: 111px
$header-phone-y: 26px
$header-phone-offset-x: -111px
$header-phone-offset-y: -26px
$header-phone-width: 12px
$header-phone-height: 12px
$header-phone-total-width: 125px
$header-phone-total-height: 111px
$header-phone-image: '../img/sprite/sprite.png'
$header-phone: (111px, 26px, -111px, -26px, 12px, 12px, 125px, 111px, '../img/sprite/sprite.png', 'header-phone', )
$instegram-name: 'instegram'
$instegram-x: 111px
$instegram-y: 53px
$instegram-offset-x: -111px
$instegram-offset-y: -53px
$instegram-width: 11px
$instegram-height: 11px
$instegram-total-width: 125px
$instegram-total-height: 111px
$instegram-image: '../img/sprite/sprite.png'
$instegram: (111px, 53px, -111px, -53px, 11px, 11px, 125px, 111px, '../img/sprite/sprite.png', 'instegram', )
$mail-name: 'mail'
$mail-x: 39px
$mail-y: 36px
$mail-offset-x: -39px
$mail-offset-y: -36px
$mail-width: 18px
$mail-height: 11px
$mail-total-width: 125px
$mail-total-height: 111px
$mail-image: '../img/sprite/sprite.png'
$mail: (39px, 36px, -39px, -36px, 18px, 11px, 125px, 111px, '../img/sprite/sprite.png', 'mail', )
$search-name: 'search'
$search-x: 72px
$search-y: 32px
$search-offset-x: -72px
$search-offset-y: -32px
$search-width: 18px
$search-height: 18px
$search-total-width: 125px
$search-total-height: 111px
$search-image: '../img/sprite/sprite.png'
$search: (72px, 32px, -72px, -32px, 18px, 18px, 125px, 111px, '../img/sprite/sprite.png', 'search', )
$twitter-name: 'twitter'
$twitter-x: 111px
$twitter-y: 0px
$twitter-offset-x: -111px
$twitter-offset-y: 0px
$twitter-width: 14px
$twitter-height: 11px
$twitter-total-width: 125px
$twitter-total-height: 111px
$twitter-image: '../img/sprite/sprite.png'
$twitter: (111px, 0px, -111px, 0px, 14px, 11px, 125px, 111px, '../img/sprite/sprite.png', 'twitter', )
$spritesheet-width: 125px
$spritesheet-height: 111px
$spritesheet-image: '../img/sprite/sprite.png'
$spritesheet-sprites: ($-add-to-cart, $-cart-orange, $-cartpng, $-like, $-share, $-user, $facebook, $google-, $header-phone, $instegram, $mail, $search, $twitter, )
$spritesheet: (125px, 111px, '../img/sprite/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
