@import "fonts"
@import "libs"
@import "vars"
@import "_sprite"

@import "common"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

*:after,
*:before
    box-sizing: border-box

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html,body
	padding: 0
	margin: 0
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $defaultFont
	color: $mainColor
	overflow-x: hidden
	opacity: 1

li,
ul
	margin: 0
	padding: 0
	list-style-type: none

p
  margin: 0

a
	text-decoration: none
	color: inherit

section
	position: relative
	margin-bottom: 120px

.container
	width: 97%
	max-width: 1170px
	margin: 0 auto

.clearfix::after
	content: ""
	display: table
	clear: both


.img-responsive
	display: block
	max-width: 100%
	height: auto


// Header
.header-top
	padding: 25px 0
	border-bottom: 1px solid $lightGray
	.container
		overflow: hidden

.header-contacts
	float: left
.header-social
	float: right
	li
		display: inline-block
		margin-right: 15px
		&:last-child
			margin-right: 0

.header-social__link
	display: block
.header-social__link--fb
	+sprite($facebook)

.header-social__link--tw
	+sprite($twitter)

.header-social__link--google
	+sprite($google-)

.header-social__link--inst
	+sprite($instegram)

.header__mail,
.header__phone
	&::before
		content: ''
		display: inline-block
		margin-right: 10px
.header__mail
	margin-right: 20px
	&::before
		+sprite($mail)

.header__phone
	&::before
		+sprite($header-phone)

.header-bottom
	padding: 40px 0
	border-bottom: 1px solid $lightGray

.header-nav__list
	li
		display: inline-block
		margin-right: 40px
		&:last-child
			margin-right: 0
	a
		display: block
		width: 100%
		height: 100%
		&.active,
		&:hover
			color: $orangeColor

.header__logo,
.header-nav
	display: inline-block
.header__logo
	margin-right: 80px
	vertical-align: middle
.header-nav
	vertical-align: top

.header-search__form
	display: none

.header-action
	width: 100%
	max-width: 130px
	float: right
	text-align: right
	span
		display: inline-block
		cursor: pointer

.header-search,
.header-user,
.header-cart
	display: inline-block
	vertical-align: middle
	margin-right: 29px
.header-cart
	position: relative
	margin-right: 0
.header-cart__number
	position: absolute
	top: -16px
	left: 3px
	display: block
	width: 18px
	height: 18px
	border-radius: 50%
	text-align: center
	background-color: $mainColor
	color: #fff
	font-size: 0.625rem

.header-search__icon
	+sprite($search)
.header-user__icon
	+sprite($-user)
.header-cart__icon
	+sprite($-cart-orange)

// Index-slider
.js-index-slider
	img
		width: 100%
		max-height: 650px
.js-index-slider_pager
	position: absolute
	top: 50%
	left: 15%
	transform: translateY(-50%)
	z-index: 10
	a
		display: block
		width: 10px
		height: 15px
		margin-bottom: 10px
		background-color: #eee
		&:last-child
			margin-bottom: 0
		&.active
			height: 40px
			background-color: $orangeColor

.index-slider__info
	position: absolute
	z-index: 10
	left: 22%
	top: 21%
	span
		display: block
		line-height: 1

.index-slider__title
	margin-bottom: 20px
	+boldFont
	font-size: 3.25rem
	color: $orangeColor

.index-slider__goods
	margin-bottom: 10px
	font-size: 1.125rem
	+semiBoldFont

.index-slider__descr
	color: $lightBlueColor
	margin-bottom: 50px

span.index-slider__price
	display: inline
	margin-right: 30px
	+boldFont

span.index-slider__buy
	color: $orangeColor
	+boldFont
	cursor: pointer
	display: inline-block
	&::before
		content: ''
		display: inline-block
		margin-right: 5px
		margin-bottom: -2px
		+sprite($-cart-orange)

// arrivals
.arrivals-content
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.arrivals
	.section-title__descr
		margin-bottom: 20px


// Banner
.banner
	.container
		overflow: hidden
.banner-big
	float: left
	width: 100%
	display: -webkit-flex
	display: -ms-flex
	display: flex
	justify-content: space-around
	align-items: center
	flex-wrap: wrap
	max-width: 630px
	height: 100px
	padding: 10px 0 0 60px
	border: 1px solid $lightBorderColor
	background-color: #fff
	img
		margin-right: 60px
		vertical-align: middle
.banner-big__text
	display: inline-block
	vertical-align: middle
	margin-right: 60px
.banner-big__title
	display: block
	+boldFont
	font-size: 1.375rem
	text-transform: uppercase
.banner-big__descr
	font-size: 0.75rem
	color: $lightBlueColor
.banner-big__price
	+boldFont
	display: inline-block
	vertical-align: middle
	color: $orangeColor
	font-size: 2rem
	&::before
		content: ''
		display: inline-block
		+sprite($-add-to-cart)
		margin-right: 15px
		cursor: pointer

.banner-small
	float: right
	width: 100%
	max-width: 450px
	height: 100px
	padding-top: 10px
	border: 1px solid $lightBorderColor
	background-color: #fff

.banner-empty__wrap
	text-align: center

.banner-empty__text
	color: $lightBlueColor
	&.banner-empty__text--orange
		color: $orangeColor

.banner-size
	display: block
	margin-top: 15px
	font-size: .75rem
	letter-spacing: 4px

// Best sales
.best-sales__item-wrap
	display: flex
	justify-content: space-around
	align-items: center
	flex-wrap: wrap

.best-sales__item
	position: relative
	width: 100%
	max-width: 370px
	min-height: 170px
	margin-right: 30px
	padding: 50px 30px 50px 150px
	background-color: #fff
	box-sizing: border-box
	cursor: pointer
	&:hover
		box-shadow: 0 5px 15px 0 rgba(0,0,0,.1)
		.best-sales__rating,
		.best-sales__price
			display: none
		.best-sales__buy
			display: block
	&:nth-of-type(3n)
		margin-right: 0

.best-sales__img
	position: absolute
	top: 40px
	left: 30px

.best-sales__title
	display: block
	margin-bottom: 10px
	+boldFont
	font-size: 1.125rem

.best-sales__info
	position: relative
	text-align: center
	&::before
		content: ''
		position: absolute
		top: 10px
		left: -10px
		display: block
		width: 1px
		height: 55px
		background-color: #f5f5f6

.best-sales__rating
	position: absolute
	padding-left: 5px
	padding-top: 8px
	width: 100%
	max-width: 75px

.rating-wrap
  height: 12px
  margin-bottom: 2px
  position: relative

.rating-color
  position: absolute
  top: 0
  background: #fdcc05
  height: 12px
  width: 80%

.rating-stars
  position: absolute
  top: 0
  width: 100%
  height: 12px
  background: url(../img/rating_bg.png) no-repeat

.best-sales__price
	float: right
	padding-right: 5px
	+boldFont
	color: $orangeColor

.best-sales__buy
	display: none
	color: $orangeColor
	&::before
		content: ''
		display: inline-block
		margin-right: 10px
		+sprite($-add-to-cart)

// subscribe
.subscribe-content
	padding: 35px 40px
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap

.subscribe__title
	margin-right: 25px
	color: $orangeColor
	+boldFont
	font-size: 1.125rem
	text-transform: uppercase

.subscribe__descr
	font-style: italic

.subscribe__form
	float: right
	width: 100%
	max-width: 450px

.input-field__wrap
	position: relative
	display: flex
	justify-content: space-between
	padding-left: 35px
	&::before
		content: ''
		position: absolute
		left: 0
		top: 50%
		transform: translateY(-50%)
		+sprite($mail)

.input-field
	width: 100%
	background: none
	border: none
	font-style: italic
	padding: 5px 0
	font-size: 1.2rem


// footer
footer
	padding: 85px 0
	.container
		overflow: hidden

.footer-logo
	display: inline-block
	vertical-align: top
	margin-right: 180px

.footer-logo__img
	margin-bottom: 19px

.footer-copyright
	display: block
	font-size: 0.875rem
	+boldFont

.footer-nav
	display: inline-block
	vertical-align: top
.footer-nav__list
	display: inline-block
	vertical-align: top
	margin-right: 80px
	line-height: 1.2
	li
		margin-bottom: 10px
		list-style: disc
		cursor: pointer
		&:last-child
			margin-bottom: 0
		&:hover a
			color: $orangeColor
	a
		font-size: 0.875rem
		color: #28313b

	&:last-child
		margin-right: 0

.footer-pay
	float: right
	span
		display: block
		+boldFont
		color: $orangeColor
		margin-bottom: 28px

@import "page/product"

@import "_media" // Всегда в конце
